/*div {
    border: 2px solid red;
    display:inline-block;
    height:250px;
    width:500px;

}*/
img {
width:100px;
border:1px dotted green;
padding:5px;
margin:5px;
display:inline-block;
}

button{
    color:white;
    background-color: green;
    border-radius: 10px;
    border: 1px solid black;
    margin-top:25px;
}
